*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#container{
    width: 800px;
    margin: 0 auto;
}

h1{
    color: rgb(0, 117, 196);
    text-shadow: 1px 1px 9px rgb(109, 109, 109);
}

.lista_filmes_inicio{
    background-color: #efefef;
    padding: 3px;
    border: solid 1px #ccc;
    margin-bottom: 10px;
}

.menu {
    margin: 20px 0 20px 0;
}

.menu a {
    padding: 10px;
    color: #fff;
    text-decoration: none;
    background-color: rgb(5, 125, 180);
    border-radius: 3px;
}

.menu a:hover {
    background-color: rgb(3, 160, 233);
}

label {
    display: block;
    margin: 10px 0 0 0;
}

input[type=text],
textarea{
    width: 61%;
    border: 1px solid #333;
    padding: 3px;
    border-radius: 5px;
}

.btn {
    color: #fff;
    display: block;
    margin-top: 5px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: rgb(5, 125, 180);
}
.btn:hover {
    background-color: rgb(5, 153, 221);
    color: rgb(71, 71, 71);
}

.errors {
    width: 60%;
    color: rgb(34, 32, 32);
    background-color: rgb(231, 127, 127);
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.success {
    width: 60%;
    color: rgb(20, 20, 20);
    background-color: rgb(67, 155, 79);
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}