*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#container{
    width: 800px;
    margin: 0 auto;
}

h1{
    color: #900;
}

.lista_filmes_inicio{
    background-color: #efefef;
    padding: 3px;
    border: solid 1px #ccc;
    margin-bottom: 10px;
}

.menu {
    margin: 20px 0 20px 0;
}

.menu a {
    padding: 10px;
    color: #fff;
    text-decoration: none;
    background-color: #900;
    border-radius: 3px;
}

label {
    display: block;
    margin: 10px 0 0 0;
}

input[type=text],
textarea{
    width: 40%;
    border: 1px solid #333;
    padding: 3px;
    border-radius: 5px;
}

input[type=submit]{
    display: block;
    margin-top: 5px;
}

.errors {
    width: 60%;
    color: rgb(34, 32, 32);
    background-color: rgb(231, 127, 127);
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}