*{
    margin: 0;
    padding: 0;
}

#container{
    width: 800px;
    margin: 0 auto;
    font-family: 'Alef', sans-serif;
}

.lista_filmes_inicio{
    background-color: #fcfbfb;
    background:linear-gradient(#fcfbfb, #dee7f1);
    padding: 2px;
    border: solid 1px linear-gradient(#efefef, #9ec5f8);
    margin-right: 50px;
}

.menu {
    margin: 20px 0 20px 0;
}

.menu a {
    padding: 10px;
    color: rgb(10, 10, 10);
    text-decoration: none;
    font-size: 15px;
}

.menu a:hover {
    background-color: rgb(3, 160, 233);
    border-radius: 3px;
    text-decoration: none;
}

.botao {
    display: block;
    margin: 15px 0;
}

.errors {
    width: 55%;
    color: rgb(34, 32, 32);
    background-color: rgb(231, 127, 127);
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.success {
    width: 55%;
    color: rgb(20, 20, 20);
    background-color: rgb(67, 155, 79);
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.busca {
    width: 40%;
    display: block;
    float: right;
}

.fix {
    clear: both;
}

.paginacao a{
    background-color: #efefef;
    color: #000;
    margin-right: 8px;
    padding: 8px;
    font-size: 16px;
    border: solid 1px #ccc;
}
